@{
    ViewBag.Title = "Inspection Metrics";
}

    <div>
        <h2>@Html.ActionLink("Top 3 Inspectors", "InspectorMetrics")</h2>
    </div>
    <div>
        <h2>@Html.ActionLink("Top 3 Realtors", "RealtorMetrics")</h2>
    </div>
