@model HHI_InspectionSoftware.ViewModels.TemplateModel

    <div style="background-color: lightblue">

        <h4 style="color: blue">Add Systems</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.HomeSystem.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "color: blue" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeSystem.Name, new { htmlAttributes = new { @class = "form-control", Value = "" } })
                @Html.ValidationMessageFor(model => model.HomeSystem.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add System" class="btn btn-primary" formaction="Save" asp-controller="CreateTemplates" />
            </div>
        </div>
    </div>
        <div id="systemTable">
            @{ if (Model != null && Model.Template != null && Model.Template.HomeSystems != null)
                {
                    <hr />

                    <h2 style="color: blue">Systems</h2>
                    <button id="systemsBtn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#display2" aria-expanded="true" aria-controls="display2">
                        Hide Systems
                    </button>
                }}

            <div class="collapse in" id="display2">
                @{ if (Model != null && Model.Template != null && Model.Template.HomeSystems != null)
                    {
                        foreach (var item in Model.Template.HomeSystems)
                        {
                            <div class="form-group">
                                    <div>
                                        <hr />
                                        <h3 style="color: blue">"@item.Name"</h3>
                                        <hr />

                                    </div>
                                <div>
                                    <button id="deleteBtn" class="btn btn-danger" formaction="DeleteSystem" asp-controller="CreateTemplates">
                                        Delete System
                                    </button>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <script>
                document.getElementById('systemsBtn').onclick = function () {
                    if (this.innerText == "Show Systems") {
                        this.innerText = "Hide Systems";
                    }
                    else {
                        this.innerText = "Show Systems";
                    }
                }

            </script>
