@{
    ViewBag.Title = "Home Page";
}
<a class="weatherwidget-io" href="https://forecast7.com/en/34d73n86d59/huntsville/?unit=us" data-label_1="HUNTSVILLE" data-label_2="WEATHER" data-theme="pure">HUNTSVILLE WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<div style="margin-top: auto" @*class="jumbotron"*@>
    <img src="~/Photos/LOGO.jpg" alt="Company Logo" class="center-block">
    @*<h1>Haines Home Inspections, LLC</h1>
        <p class="lead">Visit HainesHomeInspections.com</p>
        <p><a href="https://haineshomeinspections.com" class="btn btn-primary btn-lg">View Website &raquo;</a></p>
        <p class="lead">Edit website</p>
        <p><a href="https://editor.wix.com/html/editor/web/renderer/edit/d821c64d-ef53-4082-94da-6469e2a64573?metaSiteId=e4240ff0-d1f9-4755-a832-5c7b649095db&editorSessionId=18cc5a60-8f2b-4128-928b-8658daf4a7ea&referralInfo=dashboard" class="btn btn-primary btn-lg">Edit Website &raquo;</a></p>
        <p class="lead">Manage Facebook Page</p>
        <p><a href="https://www.facebook.com/HainesHomeInspections" class="btn btn-primary btn-lg">Manage Page &raquo;</a></p>*@

</div>
<iframe src="https://calendar.google.com/calendar/embed?src=tj1kpml7bd4oo58chnvp17pbrs%40group.calendar.google.com&ctz=America%2FChicago" class="center-block" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<div class="row">
    <div class="col-md-4">
        <h2>Website Management</h2>
        <a href="https://manage.wix.com/dashboard/e4240ff0-d1f9-4755-a832-5c7b649095db/home" target="_blank"><img src="~/Photos/Website.png" alt="HainesHomeInspections.com" width="250" height="125"></a>

        @*<p><a class="btn btn-default" href="https://manage.wix.com/dashboard/e4240ff0-d1f9-4755-a832-5c7b649095db/home" target="_blank">Manage Site &raquo;</a></p>*@
        <p><a class="btn btn-default" href="https://editor.wix.com/html/editor/web/renderer/edit/d821c64d-ef53-4082-94da-6469e2a64573?metaSiteId=e4240ff0-d1f9-4755-a832-5c7b649095db&editorSessionId=18cc5a60-8f2b-4128-928b-8658daf4a7ea&referralInfo=dashboard" target="_blank">Quick Edit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Facebook Page</h2>
        <a href="https://www.facebook.com/HainesHomeInspections" target="_blank"><img src="~/Photos/Facebook.png" alt="Facebook" width="250" height="125"></a>

        @*<p>Manage Haines Home Inspections Facebook page.</p>*@
        @*<p><a class="btn btn-default" href="https://www.facebook.com/HainesHomeInspections" target="_blank">Manage Page &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Spectora Dashboard</h2>
        <a href="https://www.spectora.com/dashboard" target="_blank"><img src="~/Photos/Dashboard.png" alt="Spectora Dashboard" width="250" height="125"></a>

        @*<p>Go to Spectora Dashboard.</p>*@
        @* <p><a class="btn btn-default" href="https://www.spectora.com/dashboard" target="_blank">Dashboard &raquo;</a></p>*@
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Spectora Scheduler</h2>
        <a href="https://www.spectora.com/v/inspections/new" target="_blank"><img src="~/Photos/Scheduler.png" alt="Spectora Scheduler" width="250" height="125"></a>

        @*<p>Schedule Inspection Now.</p>*@
        @*<p><a class="btn btn-default" href="https://www.spectora.com/v/inspections/new" target="_blank">Scheduler &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>View Emails</h2>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><img src="~/Photos/Email.png" alt="Gmail" width="250" height="125"></a>

        @* <p>View emails</p>*@
        @*<p><a class="btn btn-default" href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Email &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Radon Management</h2>
        <a href="https://pro.airthings.com/app/datasets" target="_blank"><img src="~/Photos/Radon.png" alt="Airthings" width="250" height="125"></a>

        @*<p>Airthings - Manage datasets, machines, templates and more.</p>*@
        @* <p><a class="btn btn-default" href="https://pro.airthings.com/app/datasets" target="_blank">Airthings &raquo;</a></p>*@
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Manage LinkedIn Account</h2>
        <a href="https://www.linkedin.com/feed/" target="_blank"><img src="~/Photos/Linkedin.png" alt="LinkedIn" width="250" height="125"></a>

        @*<p>Manage Haines Home Inspections Facebook page.</p>*@
        @*<p><a class="btn btn-default" href="https://www.facebook.com/HainesHomeInspections" target="_blank">Manage Page &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Pay Taxes</h2>
        <a href="https://www.eftps.gov/eftps/index.jsp" target="_blank"><img src="~/Photos/EFTPS.png" alt="LinkedIn" width="250" height="125"></a>
    </div>
</div>