@{
    ViewBag.Title = "Home Page";
}
<a class="weatherwidget-io" href="https://forecast7.com/en/34d73n86d59/huntsville/?unit=us" data-label_1="HUNTSVILLE" data-label_2="WEATHER" data-theme="pure">HUNTSVILLE WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<div style="margin-top: auto">
    <img src="~/Photos/LOGO.jpg" alt="Company Logo" class="center-block">
</div>
<div class="bg-light col-md-2">
    <div class="sidebar-heading">Company Tools </div>
    <div class="list-group list-group-flush">
        <a href="https://manage.wix.com/dashboard/e4240ff0-d1f9-4755-a832-5c7b649095db/home" target="_blank" class="list-group-item list-group-item-action bg-light">Website</a>
        <a href="https://www.facebook.com/HainesHomeInspections" target="_blank" class="list-group-item list-group-item-action bg-light">Facebook</a>
        <a href="https://www.spectora.com/dashboard" target="_blank" class="list-group-item list-group-item-action bg-light">Spectora</a>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="list-group-item list-group-item-action bg-light">Gmail</a>
        <a href="https://pro.airthings.com/app/datasets" target="_blank" class="list-group-item list-group-item-action bg-light">Airthings</a>
        <a href="https://www.linkedin.com/feed/" target="_blank" class="list-group-item list-group-item-action bg-light">Linked In</a>
        <a href="https://www.eftps.gov/eftps/index.jsp" target="_blank" class="list-group-item list-group-item-action bg-light">Taxes</a>
        <a href="https://ads.google.com/aw/overview?ocid=639573579&authuser=0&uscid=639573579&__c=6337563571&euid=485980734&__u=8229513166" target="_blank" class="list-group-item list-group-item-action bg-light">Google Ads</a>
    </div>
</div>
<div class="col-md-10">
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?src=tj1kpml7bd4oo58chnvp17pbrs%40group.calendar.google.com&ctz=America%2FChicago" class="center-block" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
@*<div class="row">
        <div class="col-md-4">
            <h2>Website Management</h2>
            <a href="https://manage.wix.com/dashboard/e4240ff0-d1f9-4755-a832-5c7b649095db/home" target="_blank"><img src="~/Photos/Website.png" alt="HainesHomeInspections.com" width="250" height="125"></a>
            <p><a class="btn btn-default" href="https://editor.wix.com/html/editor/web/renderer/edit/d821c64d-ef53-4082-94da-6469e2a64573?metaSiteId=e4240ff0-d1f9-4755-a832-5c7b649095db&editorSessionId=18cc5a60-8f2b-4128-928b-8658daf4a7ea&referralInfo=dashboard" target="_blank">Quick Edit &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Manage Facebook Page</h2>
            <a href="https://www.facebook.com/HainesHomeInspections" target="_blank"><img src="~/Photos/Facebook.png" alt="Facebook" width="250" height="125"></a>
        </div>
        <div class="col-md-4">
            <h2>Spectora Dashboard</h2>
            <a href="https://www.spectora.com/dashboard" target="_blank"><img src="~/Photos/Dashboard.png" alt="Spectora Dashboard" width="250" height="125"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Spectora Scheduler</h2>
            <a href="https://www.spectora.com/v/inspections/new" target="_blank"><img src="~/Photos/Scheduler.png" alt="Spectora Scheduler" width="250" height="125"></a>
        </div>
        <div class="col-md-4">
            <h2>View Emails</h2>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><img src="~/Photos/Email.png" alt="Gmail" width="250" height="125"></a>
        </div>
        <div class="col-md-4">
            <h2>Radon Management</h2>
            <a href="https://pro.airthings.com/app/datasets" target="_blank"><img src="~/Photos/Radon.png" alt="Airthings" width="250" height="125"></a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Manage LinkedIn Account</h2>
            <a href="https://www.linkedin.com/feed/" target="_blank"><img src="~/Photos/Linkedin.png" alt="LinkedIn" width="250" height="125"></a>
        </div>
        <div class="col-md-4">
            <h2>Pay Taxes</h2>
            <a href="https://www.eftps.gov/eftps/index.jsp" target="_blank"><img src="~/Photos/EFTPS.png" alt="Taxes" width="250" height="125"></a>
        </div>
        <div class="col-md-4">
            <h2>Google Ads</h2>
            <a href="https://ads.google.com/aw/overview?ocid=639573579&authuser=0&uscid=639573579&__c=6337563571&euid=485980734&__u=8229513166" target="_blank"><img src="~/Photos/GoogleAds.png" alt="Google Ads" width="250" height="125"></a>
        </div>
    </div>*@
